html {
	height: 100%;
}

html body {
	height: 100%;
	overflow: auto;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
}
footer {
    position: absolute;
	background: #292b2c !important;
    left: 0;
    right: 0;
    bottom: 0;
	line-height: 60px;
    height: 60px;
}

.bg {
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: auto;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	padding: 60px 0 60px 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}

.logo {
	background: url(../img/logo-main.png) no-repeat center;
	width: auto;
	height: 100px;
}

.main {
	background: rgba(238,238,238,0.75);
	border-radius: .25rem;
	padding: 20px;
}

.copyright {
    text-align: center;
	color: #ccc;
}

/* */
/* Register Page */
/* */
.form_register {
	outline: none;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
    border-radius: 12px;
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
	padding: 20px;
	background-color:rgba(255,255,255,1)
}

.form_register .header {
	padding: 20px 70px;
	margin-bottom:0px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(238,238,238,.9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.form_register .footer {
	padding: 0px 30px 40px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(238,238,238,.9);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* */
/* Map Page */
/* */

.map {
	position: absolute;
	top: 60px;
	bottom: 60px;
	right: 0;
	left: 0;
}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

#txt{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    background-color: rgba(238,238,238,.6);
    padding: 10px;
    color: #222;
    width: 350px;
    text-align: center;
}

.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "✖";
}


