<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a href="#" class="navbar-brand"><img style="max-width:100px; margin-top: -7px;" src="img/logo-main.png"></a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="map.html">Maps</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">How it work</a>
				</li>
			</ul>
			<form class="form-inline mt-2 mt-md-0" name="modulo">
				<input class="form-control mr-sm-2" type="text" placeholder="User" name="u_id">
				<input class="form-control mr-sm-2" type="password" placeholder="Password" name="pass">
				<input class="btn btn-outline-success my-2 my-sm-0" type="button" value="Login" onclick="XML_Login()">			
				<a class="nav-link" href="register.html">Registrati</a>
			</form>
		</div>
		
	</nav>